@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li class="dropdown">
                <a id="dropdownMenuLink" href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-
                   expanded="false">@User.Identity.GetUserName()<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li> <a href="@Url.Action("Index","Orders")" class="dropdown-item">Orders</a></li>
                    <li> <a href="@Url.Action("Index","Meals")" class="dropdown-item">Meals</a></li>
                    <li role="separator" class="dropdown-divider"> </li>
                    <li>
                        <a data-bind="click: logout" role="button" class="dropdown-item">Log out</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Staff", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Staff", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}

@section Scripts {
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/jquery")
}
