
@model server.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <p>    @Html.ActionLink("Back to List", "Index") </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total_money)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_money)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink(
    linkText: "Items",
    actionName: "Details",
    controllerName: "OrderItems",
    routeValues: new
        {
        id = Model.Id
    },
    htmlAttributes: null
)
</p>
